<!--
<div>
        &nbsp;&nbsp; Student: {{student.name}}
        <div [hidden]="!student.isJedi">
                &nbsp;&nbsp;   Jedi temple: {{student.temple}}
        </div>  
</div>
-->
<div>

        <div *ngIf="student.isJedi">

                <table>
                        <tr>
                                <td><b>DATA </b></td>
                                <td><b>PAÍS </b></td>
                                <td><b>CIRCUITO</b></td>
                                <td><b>Horário</b></td>
                        </tr>
                        <tr>
                                <td>17 DE MARÇO </td>
                                <td>AUSTRÁLIA </td>
                                <td>MELBOURNE</td>
                                <td>2h10</td>
                        </tr>
                        <tr>
                                <td>31 DE MARÇO </td>
                                <td>BAREIN </td>
                                <td>SAKHIR</td>
                                <td>12h10</td>
                        </tr>
                        <tr>
                                <td>14 DE ABRIL </td>
                                <td>CHINA </td>
                                <td>XANGAI</td>
                                <td>3h10</td>
                        </tr>
                        <tr>
                                <td>28 DE ABRIL </td>
                                <td>AZERBAIJÃO </td>
                                <td>BAKU</td>
                                <td>9h10</td>
                        </tr>
                        <tr>
                                <td>12 DE MAIO </td>
                                <td>ESPANHA </td>
                                <td>BARCELONA</td>
                                <td>10h10</td>
                        </tr>
                        <tr>
                                <td>26 DE MAIO </td>
                                <td>MÔNACO </td>
                                <td>MONTE CARLO</td>
                                <td>10h10</td>
                        </tr>
                        <tr>
                                <td>9 DE JUNHO </td>
                                <td>CANADÁ </td>
                                <td>MONTREAL</td>
                                <td>15h10</td>
                        </tr>
                        <tr>
                                <td>23 DE JUNHO </td>
                                <td>FRANÇA </td>
                                <td>PAUL RICARD</td>
                                <td>10h10</td>
                        </tr>
                        <tr>
                                <td>30 DE JUNHO </td>
                                <td>ÁUSTRIA </td>
                                <td>SPIELBERG</td>
                                <td>10h10</td>
                        </tr>
                        <tr>
                                <td>14 DE JULHO </td>
                                <td>INGLATERRA </td>
                                <td>SILVERSTONE</td>
                                <td>10h10</td>
                        </tr>
                        <tr>
                                <td>28 DE JULHO </td>
                                <td>ALEMANHA </td>
                                <td>HOCKENHEIM</td>
                                <td>10h10</td>
                        </tr>
                        <tr>
                                <td>4 DE AGOSTO </td>
                                <td>HUNGRIA </td>
                                <td>HUNGARORING</td>
                                <td>10h10</td>
                        </tr>
                        <tr>
                                <td>1º DE SETEMBRO </td>
                                <td>BÉLGICA </td>
                                <td>SPA-FRANCORCHAMPS</td>
                                <td>10h10</td>
                        </tr>
                        <tr>
                                <td>8 DE SETEMBRO </td>
                                <td>ITÁLIA </td>
                                <td>MONZA</td>
                                <td>10h10</td>
                        </tr>
                        <tr>
                                <td>22 DE SETEMBRO </td>
                                <td>SINGAPURA </td>
                                <td>MARINA BAY</td>
                                <td>9h10</td>
                        </tr>
                        <tr>
                                <td>29 DE SETEMBRO </td>
                                <td>RÚSSIA </td>
                                <td>SOCHI</td>
                                <td>8h10</td>
                        </tr>
                        <tr>
                                <td>13 DE OUTUBRO </td>
                                <td>JAPÃO </td>
                                <td>SUZUKA</td>
                                <td>2h10</td>
                        </tr>
                        <tr>
                                <td>27 DE OUTUBRO </td>
                                <td>MÉXICO </td>
                                <td>HERMANOS RODRIGUEZ</td>
                                <td>15h10</td>
                        </tr>
                        <tr>
                                <td>3 DE NOVEMBRO </td>
                                <td>ESTADOS UNIDOS </td>
                                <td>AUSTIN</td>
                                <td>16h10</td>
                        </tr>
                        <tr>
                                <td>17 DE NOVEMBRO </td>
                                <td>BRASIL </td>
                                <td>INTERLAGOS</td>
                                <td>15h10</td>
                        </tr>
                        <tr>
                                <td>1º DE DEZEMBRO </td>
                                <td>ABU DHABI </td>
                                <td>YAS MARINA</td>
                                <td>11h10</td>
                        </tr>
                </table>

        </div>
</div>