.header{
    position: absolute;
    width: 80%;
    height:23%;
    border-style: solid;
}
.menu{
    position: absolute;
    top:27%;
    border-style: solid;
    height:65%;
    width: 15%;
}
div.body{
    position: absolute;
    top:27%;
    left: 16%;
    border-style: solid;
    height:65%;
    width: 64.6%;
}
.footer{
    position: absolute;
    top:94%;
    bottom: 0%;
    border-style: solid;
    width: 80%;
    height: 5%;
}

