<!--
<div>
        &nbsp;&nbsp; Student: {{student.name}}
        <div [hidden]="!student.isJedi">
                &nbsp;&nbsp;   Jedi temple: {{student.temple}}
        </div>  
</div>
-->
<div>

        <div *ngIf="student.isJedi">

                <ol>
                        <li class="p1">
                                <h3><span class="s1">Noruega</span></h3>
                        </li>
                        <li class="p1">
                                <h3><span class="s1">Nova Zelândia</span></h3>
                        </li>
                        <li class="p1">
                                <h3><span class="s1">Finlândia</span></h3>
                        </li>
                        <li class="p1">
                                <h3><span class="s1">Suíça</span></h3>
                        </li>
                        <li class="p1">
                                <h3><span class="s1">Dinamarca</span></h3>
                        </li>
                        <li class="p1">
                                <h3><span class="s1">Suécia</span></h3>
                        </li>
                        <li class="p1">
                                <h3><span class="s1">Reino Unido</span></h3>
                        </li>
                        <li class="p1">
                                <h3><span class="s1">Canadá</span></h3>
                        </li>
                        <li class="p1">
                                <h3><span class="s1">Holanda</span></h3>
                        </li>
                        <li class="p1">
                                <h3><span class="s1">Irlanda</span></h3>
                        </li>
                </ol>
        </div>
</div>